<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/cart.js"></script>
</head>
<body>
    <%- include('storeprods.ejs') %>
        <ol>
            <% for (let id of Object.keys(products)) { %>
                <% product = products[id]; %>
                <li>
                    <%=product.name %>
                    ID: <%=product.id %>
                    Price: <%=product.price %>
                    <%=product.description %>
                    <% if(product.quantity){ %> Quantity: <%=product.quantity %> <% } %>
                    <% if(product.stock){ %> Stock: <%=product.stock %> <% } %>
                </li>
                <% }; %>
            </ol>
            <hr/>
            <%- include('cartCount.ejs') %>
</body>
</html>