<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/js/cart.js"></script>
    <script src="/js/product.js"></script>
</head>
<body>
    <form id="addProduct">
        <input id="id" name="id" type="hidden" value=<%= id %>>
        <input id="name" name="name" type="hidden" value=<%= name %>>
        <input id="price" name="price" type="hidden" value=<%= price %>>
        <h4>Product: <%= name %></h4>
        <h4>Price: <%= price %></h4>
        <label for="qty">Quantity</label>
        <input id="qty" name="qty" type="number" value='1'>
        <button class="btn btn-secondary mt-2" type="submit">Add to Cart</button>
    </form>
    <br/>
    <div id='msg'></div>
    <%- include('cartcount.ejs') %>
</body>
</html> 